{% extends './layout.html' %}
{% block content %}

<html>

<head>
    <meta charset="utf-8">
    <title>Homepage</title>






</head>
<body>

<!-- Page Content -->
<div class="container">


<div> {% include './partial/searchbar.html' %}</div>

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0" style="color: aliceblue">New Books </h1>

  <hr class="mt-2 mb-5">


<div> {% include './partial/books.html' %}</div>
</div>
<!-- /.container -->

</body>
{% endblock%}
